*{
    margin: 0;
}
.grid{
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 1fr  1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
            'header header'
            'main main'
            'section aside'
            'footer footer';
}
header{
    grid-area: header;
}
main{
    grid-area: main;
}
section{
    grid-area: section;
}
aside{
    grid-area: aside;
}
footer{
    grid-area: footer;
}
header, footer{
    background: silver;
}
main{
    background: grey;
}
section{
    background: lightgray;
}
aside{
    background: #a89a8d;
}