@media screen and (max-width: 480px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .wrap{
        display: flex;
        width: 375px;
        padding: 32px 16px;
        background-position: -250px 0;
    }
    .under-wrap{
        width: 343px;
        padding: 20px 0;
    }
    h1{
        font-size: 28px;
    }
    p{
        font-size: 20px;
        text-align: center;
        margin: 18px 0 32px 0
    }
    button{
        margin-bottom: 20px;
        height: 64px;
        padding: 0 28px;
    }
    footer{
        flex-direction: column;
        align-items: center;
    }
}