@media  screen and (max-width: 480px) {
    body{
        font-size: 8px;
        margin: 15px;
    }
    .flex{
        flex-direction: column;
        margin-top: 15px;
    }
    section, main{
        width: 100%;
    }
    header{
        height: 22vh;
    }
    main{
        height: 58vh;
    }
    section{
        height: 28vh;
        margin-top: 15px;
    }
}