*{
    margin: 0;
}
.grid{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas:
    'header header header header header'
    's1 s2 s3 s4 s5'
    'footer footer footer footer footer';
}
header{
    grid-area: header;
}
.s1{
    grid-area: s1;
}
.s2{
    grid-area: s2;
}
.s3{
    grid-area: s3;
}
.s4{
    grid-area: s4;
}
.s5{
    grid-area: s5;
}
footer{
    grid-area: footer;
}
header, footer{
    background: silver;
}
.s1, .s3, .s5{
    background: grey;
}
.s2, .s4{
    background: lightgray;
}