*{
    margin:0;
}
.grid{
    display: grid;
    height: 100vh;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 2fr repeat(6, 1fr) 2fr;
    grid-template-areas:
    'header header'
    'content1 spam1'
    'content1 spam1'
    'content2 spam1'
    'content2 spam2'
    'content3 spam2'
    'content3 spam2'
    'footer footer';
}
header{
    grid-area: header;
}
.Content1{
    grid-area: content1;
}
.Content2{
    grid-area: content2;
}
.Content3{
    grid-area: content3;
}
.spam1{
    grid-area: spam1;
}
.spam2{
    grid-area: spam2;
}
footer{
    grid-area: footer;
}
header, .Content1, .Content2, .Content3, .spam1, .spam2, footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.Content1, .Content2, .Content3, .spam1, .spam2{
    color: white;
}
header{
    background: grey;
}
.Content1{
    background: lightslategray;
}
.Content2{
    background: #9c6969;
}
.Content3{
    background: #501212;
}
.spam1{
    background: lightpink;
}
.spam2{
    background: dimgrey;
}
footer{
    background: silver;
}