*{
    margin:0;
}
.grid{
    display: grid;
    height: 100vh;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas:
    'header header'
    'main aside'
}
header{
    grid-area: header;
}
main{
    grid-area: main;
}
aside{
    grid-area: aside;
}
header, main, aside{
    background-color: silver;
    margin: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border-radius: 10px;
}
